<configuration>
  <springProfile name="docker,prod">
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder"><includeMdc>true</includeMdc></encoder>
    </appender>
    <root level="INFO"><appender-ref ref="JSON"/></root>
  </springProfile>
  <springProfile name="!docker &amp; !prod">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
  </springProfile>
</configuration>

